footer {
    height: 2em;
    vertical-align: center;
}

.line {
    background-color: #7d97ad;
    color: #7d97ad;
    height: 3px;
}

.subtitle {
    color: #f00;
}

.title-logo {
    max-width: 50%;
}
